<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/mesn1985/index.json" />
  </packageSources>
  <packageSourceCredentials>
        <github>
            <add key="Username" value="mesn1985" />
            <add key="ClearTextPassword" value="c5608cde12bdd741c3d08e6cd2b9699f743b114d" />
        </github>
    </packageSourceCredentials>
</configuration>
