<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="github" value="https://nuget.pkg.github.com/mesn1985/index.json" />
  </packageSources>
  <packageSourceCredentials>
        <github>
            <add key="Username" value="mesn1985" />
            <add key="ClearTextPassword" value="68b79658a683ff50682768745e331a891d3d38b9" />
        </github>
    </packageSourceCredentials>
</configuration>
